.card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: left;
  width: 300px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  padding: 32px;
  overflow: hidden;
  border-radius: 10px;
  //background: #0d0d0d;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  .btn{
 margin-left: 150px;

  }
 
}
.li{
  list-style-type: none;
}
.content {  
  font-size: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  //color: #ffffff;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.content .heading {
  font-weight: 700;
  font-size: 15px;
}

.content .para {
  line-height: 1.5;
}

.content .btn {
  color: #e8e8e8;
  text-decoration: none;
  padding: 10px;
  font-weight: 100;
  border: none;
  cursor: pointer;
  background: linear-gradient(-45deg, #007789 0%, #007789 100% );
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  font-size: 10px;
 

}

.card::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  background: linear-gradient(-45deg, #032B43 0%, #032B43 100% );
  z-index: -1;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.card:hover::before {
  height: 100%;
}

.card:hover {
  box-shadow: none;
}

.card:hover .btn {
  color: #212121;
  background: #e8e8e8;
}

.content .btn:hover {
  outline: 2px solid #e8e8e8;
  background: transparent;
  color: #e8e8e8;
}

.content .btn:active {
  box-shadow: none;
}
