/* header.module.scss */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--background-end-rgb);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 999;
}


.leftContent {
  flex-grow: 1;
  font-family:Arial, Helvetica, sans-serif
  
}

.description {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.searchInputContainer {
  flex-grow: 1;
  //display: flex;
  //justify-content: center;
  //align-items: center;
}

.searchInput {
  width: 100%;
  height: 40px;
  padding: 0.5rem;
  border: none;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;

  &:focus {
    outline: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  }
}

.rightContent {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

.button {
  flex: 0 0 auto;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  background-color: #333;
  color: #fff;
  font-size: 0.9rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;

 /*  &:hover {
    background-color: #2672b8;
  } */
}