.main {
  display: flex;
  flex-direction: column;
  align-items: center;

  box-sizing: border-box;
  margin: 0;
  height: 60vh;
  //padding-bottom: 40%;  
}

.logo {
  max-width: 100%;
  max-height: 100%;
}



.description {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  p {
    position: relative;
    margin: 0;
    padding: 1rem;
    background-color: rgba(var(--callout-rgb), 0.5);
    border: 1px solid rgba(var(--callout-border-rgb), 0.3);
    border-radius: var(--border-radius);
    margin-right: 150%;
  }
}

.grid {
  background-color: #F2EFDF;
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  width: 100vw;
  margin-top: 10vh;
  padding-top: 50px;
  padding-bottom: 185px;
  border-radius: var(--border-radius);

  .card {
    padding: 1rem 1.2rem;
    border-radius: var(--border-radius);
    background: rgba(var(--card-rgb), 0);
    border: 1px solid rgba(var(--card-border-rgb), 0);
    transition: background 200ms, border 200ms;
    font-size: 1rem;

    h2 {
      font-weight: 600;
      margin-bottom: 0.7rem;
    }

    li {
      opacity: 0.6;
      font-size: 0.9rem;
      line-height: 1.5;
      list-style-type: none;
    }

    &:hover {
      background: rgba(var(--card-rgb), 0.1);
      border: 1px solid rgba(var(--card-border-rgb), 0.15);

      span {
        transform: translateX(4px);
      }
    }
  }
}

.gridgt {
  display: flex;
  justify-content: space-between;
  font-family: 'Radio Canada';
  font-style: normal;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  border-radius: var(--border-radius);
  background-color: #F2EFDF;
  margin-top: 10vh;
  width: 120%;
  text-align: justify;
 
  .gthieu {
    order: 1;
    padding: 16% 10% 0% 10%;
    white-space: nowrap;
    font-weight: bold;
    font-size: 30px;
    
  }
  .ndgthieu {
    order: 2;
    padding: 2% 5% 10% 5%;
  }
}

@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;

    .card {
      padding: 1rem 2.5rem;

      h2 {
        margin-bottom: 0.5rem;
      }
    }
  }

  .description {
    font-size: 0.8rem;

    a {
      padding: 1rem;
    }

    p,
    div {
      display: flex;
      justify-content: center;
      position: fixed;
      width: 100%;
    }

    p {
      align-items: center;
      inset: 0 0 auto;
      padding: 2rem 1rem 1.4rem;
      border-radius: 0;
      border: none;
      border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
      background: linear-gradient(to bottom,
          rgba(var(--background-start-rgb), 1),
          rgba(var(--callout-rgb), 0.5));
      background-clip: padding-box;
      backdrop-filter: blur(24px);
    }

    div {
      align-items: flex-end;
      pointer-events: none;
      inset: auto 0 0;
      padding: 2rem;
      height: 200px;
      background: linear-gradient(to bottom,
          transparent 0%,
          rgb(var(--background-end-rgb)) 40%);
      z-index: 1;
    }
  }
}

@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@media screen and (min-width: 768px) {
  .main {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1024px) {
  .main {
    max-width: 1024px;
  }
}

@media screen and (min-width: 1440px) {
  .main {
    max-width: 1440px;
  }
}